head
	title StravAnalyze
	link(rel="stylesheet", href="/assets/styles/main.css", type="text/css")
	style.
		/* tell the SVG path to be a thin blue line without any area fill */
		path {
			stroke: steelblue;
			stroke-width: 1;
			fill: none;
		}
		
		.axis {
		  shape-rendering: crispEdges;
		}
		.x.axis line {
		  stroke: lightgrey;
		}
		.x.axis .minor {
		  stroke-opacity: .5;
		}
		.x.axis path {
		  display: none;
		}
		.y.axis line, .y.axis path {
		  fill: none;
		  stroke: #000;
		}
		
