extends ./layout.jade
block content

	ul
		each activity in activities
			li
				img(class="activity_map", src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCiaHKxbAgt6Dep1LfXTtN-wqIezEi12I8&size=400x400&zoom=14&path=weight:3%7Ccolor:0xff0000ff%7Cenc:#{activity.map.summary_polyline}")
				p
					a(href="/activities/#{activity.id}") #{activity.name}
				p #{activity.distance}
				p #{activity.start_date}
				p #{activity.location_city}, #{activity.location_state}
				