<!doctype html>
<html>
	
	<head>
	<link rel="icon" type="image/png"  href="favicon.png">

		<style>
		html, body {
			margin: 0;
			padding: 0;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 300;
			text-rendering: optimizeLegibility;
		}
		nav {
			height: 55px;
			border-bottom: 1px solid #e5e5e5;
		}

		.nav-bar__inner {
			width: 1000px;
			margin: 0 auto;
		}
		.nav-list {
			float: left;
			list-style: none;
		}
		.nav-list li {
			float: left;
			display: block;
		}
		.main-body {
			max-width: 900px;
			margin: 0 auto;
		}
		.sidebar--right {
			float: right;
			width: 350px;
		}
		.profile-thumbnail {
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}
		.main-body:after,
		.nav-bar__inner:after { 
		   content: " ";
		   display: block; 
		   height: 0; 
		   clear: both;
		}
		.pull-right  {
			float: right;
		}
		</style>
	</head>
	<body>
	<header>
		<nav class="nav-bar">
			<div class="nav-bar__inner">
				<ul class="nav-list">
					<li><a href="/">Home</a></li>
				</ul>
				<ul class="nav-list pull-right">
					<li><img class="profile-thumbnail" src="{{profile_medium}}"></li>
				</ul>
			</div>
		</nav>
	</header>	
	<div class="main-body">
		<h1>Welcome, {{firstname}}</h1>
		<img src="{{profile_medium}}">
<!-- {
	"access_token":"ced9ec5e18035abe5450bfd10104884655f37be6",
	"token_type":"Bearer",
	"athlete": {
		"id":4648488,
		"resource_state":3,
		"firstname":"Patrick",
		"lastname":"El-Hage",
		"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/4648488/1473290/1/medium.jpg",
		"profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/4648488/1473290/1/large.jpg",
		"city":"",
		"state":"Michigan",
		"country":"United States",
		"sex":"M",
		"friend":null,
		"follower":null,
		"premium":false,
		"created_at":"2014-04-29T22:37:47Z",
		"updated_at":"2015-06-07T01:32:55Z",
		"badge_type_id":0,
		"follower_count":3,
		"friend_count":5,
		"mutual_friend_count":0,
		"athlete_type":0,
		"date_preference":"%m/%d/%Y",
		"measurement_preference":"feet",
		"email":"patrick425@gmail.com",
		"ftp":null,
		"weight":69.9999,
		"clubs":[],
		"bikes":[
			{"id":"b2075404","primary":false,"name":"Mongoose","resource_state":2,"distance":46033.0},
			{"id":"b2075399","primary":true,"name":"Raleigh Competition","resource_state":2,"distance":68504.0}
		],
		"shoes":[]
	}
}
 -->

	</div>

	</body>
</html>