<!doctype html>
<html>
	
	<head>
	<link rel="icon" type="image/png"  href="favicon.png">

		<style>
		html, body {
			margin: 0;
			padding: 0;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 300;
			text-rendering: optimizeLegibility;
		}
		nav {
			height: 55px;
			border-bottom: 1px solid #e5e5e5;
		}

		.nav-bar__inner {
			width: 1000px;
			margin: 0 auto;
		}
		.nav-list {
			float: left;
			list-style: none;
		}
		.nav-list li {
			float: left;
			display: block;
		}
		.main-body {
			max-width: 900px;
			margin: 0 auto;
		}
		.sidebar--right {
			float: right;
			width: 350px;
		}
		.profile-thumbnail {
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}
		.main-body:after,
		.nav-bar__inner:after { 
		   content: " ";
		   display: block; 
		   height: 0; 
		   clear: both;
		}
		.pull-right  {
			float: right;
		}
		</style>
	</head>
	<body>
	<header>
		<nav class="nav-bar">
			<div class="nav-bar__inner">
				<ul class="nav-list">
					<li><a href="/">Home</a></li>
				</ul>
				<ul class="nav-list pull-right">
					<li><img class="profile-thumbnail" src="{{profile}}"></li>
				</ul>
			</div>
		</nav>
	</header>	
	<div class="main-body">
		<div class="sidebar--right">
			<ul>
				<li><a href="/athletes/{{id}}">First Name: {{firstname}}</a></li>
				<li>Last Name: {{lastname}}</li>
				<li>Sex: {{sex}}</li>
				<li>Email: {{email}}</li>
				<li>Bikes: {{bikes}}</li>
				<li>Clubs: {{clubs}}</li>
				<li>State: {{state}}</li>
				<li>Biggest Ride: {{biggest_ride_distance}}</li>
			</ul>
			<h3>Segments</h3>
			<ul>
				<li>{{segment}}</li>
				<li>{{segment2}}</li>
				<li>{{segment3}}</li>
			</ul>
		</div>
	</div>

	</body>
</html>