extends ./layout.jade
block content
	h1 StravAnalyze
	p Visualize your rankings in Strava leaderboards
	a(class="big-strava-button", href="https://www.strava.com/oauth/authorize?client_id=7536&response_type=code&redirect_uri=http://127.0.0.1:8080/login")
		img(src="http://strava.github.io/api/images/ConnectWithStrava.png")