extends ./layout.jade
block content
	div(style="width: 300px; margin: 0 auto; text-align: center")
		h1 Welcome, #{athlete.athlete.firstname}!
		div
			img(src="#{athlete.athlete.profile}")
		//- p Your access token is: #{athlete.access_token}
		div
			p 
				a(href="/segments/starred") Starred segments
			p
				a(href="/athlete/activities") Activities