extends ./layout.jade

block content

  
  p Id: #{segment.id}
  
  p City: #{segment.city}
  p State: #{segment.state}
  p Country: #{segment.country}
  h2 #{segment.name}
  p #{segment.distance} meters, 
  img(src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCiaHKxbAgt6Dep1LfXTtN-wqIezEi12I8&size=400x400&zoom=15&path=weight:3%7Ccolor:0xff0000ff%7Cenc:#{segment.map.polyline}")
  a(href="/segments/#{segment.id}/leaderboard") Leaderboard
  //- div#map

  //- script.
  //-   var map;
  //-   function initMap() {
  //-     map = new google.maps.Map(document.getElementById('map'), {
  //-       center: {lat: -34.397, lng: 150.644},
  //-       zoom: 8
  //-     });
  //-   }


  //- script.
  //-   function initMap() {
  //-     var map = new google.maps.Map(document.getElementById('map'), {
  //-       zoom: 3,
  //-       center: {lat: 0, lng: -180},
  //-       mapTypeId: google.maps.MapTypeId.TERRAIN
  //-     });

  //-     var flightPlanCoordinates = [
  //-       {lat: 37.772, lng: -122.214},
  //-       {lat: 21.291, lng: -157.821},
  //-       {lat: -18.142, lng: 178.431},
  //-       {lat: -27.467, lng: 153.027}
  //-     ];
  //-     var flightPath = new google.maps.Polyline({
  //-       path: flightPlanCoordinates,
  //-       geodesic: true,
  //-       strokeColor: '#FF0000',
  //-       strokeOpacity: 1.0,
  //-       strokeWeight: 2
  //-     });

  //-     flightPath.setMap(map);
  //-   }
  //- script(aync, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiaHKxbAgt6Dep1LfXTtN-wqIezEi12I8&callback=initMap" type="text/javascript")