extends ./layout.jade
block content

	//- h1 Welcome, #{athlete.athlete.firstname}!
	//- img(src="#{athlete.athlete.profile}")
	//- p Your access token is: #{athlete.access_token}

	ul
		each segment in segments
			li
				a(href="/segments/#{segment.id}") #{segment.name}