extends ./layout.jade

block content

  p Effort Count: #{leaderboard.effort_count}
  //- ol
  //-   each athlete in leaderboard
  //-     li
  //-       h3
  //-         a(href="#{athlete.athlete_id}") #{athlete.athlete_name}
  //-       img(src="#{athlete.athlete_profile}", style="max-width: 80px")
  //-       p Elapsed Time: #{athlete.elapsed_time}
  //-       p Ranked: #{athlete.rank}
  div(id='graph', class='aGraph', style='')
  div(id='graph2', class='aGraph', style='')
  div(class="content")

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
  script(src="https://cdn.plot.ly/plotly-latest.min.js")
  script.
    var localData2 = !{JSON.stringify(leaderboard)};
    var times = [];
    for (var i = 0, len = localData2.length; i < len; i++) {
      times.push(localData2[i]['moving_time']);
    }
    var data = [
      {
        x: times,
        type: 'histogram'
      }
    ];
    Plotly.newPlot('graph2', data);

  script.
    /* implementation heavily influenced by http://bl.ocks.org/1166403 */
    
    var localData = !{JSON.stringify(leaderboard)};
    function foo(arr) {
      var a = [], b = [], prev;

      arr.sort();
      for (var i = 0; i < arr.length; i++) {
          if ( arr[i] !== prev ) {
              a.push(arr[i]);
              b.push(1);
          } else {
              b[b.length-1]++;
          }
          prev = arr[i];
      }

      return [a, b];
    }
    
    var times = [];
    for (var i = 0, len = localData.length; i < len; i++) {
      times.push(localData[i]['moving_time']);
    }
    var freqTimes = foo(times);
    console.log(freqTimes);
    var xdata = freqTimes[0];
    var ydata = freqTimes[1];

    // Generate a Bates distribution of 10 random variables.
    //- var values = d3.range(1000).map(d3.random.bates(10));
    var values = times;

    // Formatters for counts and times (converting numbers to Dates).
    var formatCount = d3.format(",.0f"),
        formatTime = d3.time.format("%H:%M"),
        formatMinutes = function(d) { return formatTime(new Date(2012, 0, 1, 0, d)); };

    var margin = { top: 10, right: 30, bottom: 30, left: 30 },
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.scale.linear()
        .domain([0, d3.max(xdata)])
        .range([0, width]);

    var numOfBins = (function() {
      var min = 20;
      var sqrt = Math.sqrt(xdata.length);
      return Math.max(min, sqrt);
    })();


    // Generate a histogram using twenty uniformly-spaced bins.
    var data = d3.layout.histogram()
        .bins(x.ticks(numOfBins))
        (values);


    var y = d3.scale.linear()
        .domain([0, d3.max(data, function(d) { return d.y; })])
        .range([height, 0]);


    var xAxis = d3.svg.axis()
        .scale(x)
        .ticks(numOfBins)
        .orient("bottom")
        .tickFormat(formatMinutes)
        .tickValues(findSplice());

    function findSplice() {
      var minVal = Math.round(d3.min(xdata) / 10) * 10;
      var buckets = x.ticks(numOfBins);
      for (var i = 0, len = buckets.length; i < len; i++) {
        if (buckets[i] >= minVal) {
          var index = buckets.indexOf(buckets[i]);
          var slicedArr = buckets.slice(index, buckets.length);
          return slicedArr;
        }
      }
      console.log(minVal);
    }
    
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var bar = svg.selectAll(".bar")
        .data(data)
      .enter().append("g")
        .attr("class", "bar")
        .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

    bar.append("rect")
        .attr("x", 1)
        .attr("width", x(data[0].dx) - 1)
        .attr("height", function(d) { return height - y(d.y); });

    bar.append("text")
        .attr("dy", ".75em")
        .attr("y", 6)
        .attr("x", x(data[0].dx) / 2)
        .attr("text-anchor", "middle")
        .text(function(d) { return formatCount(d.y); });

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);





//- athlete_name: "Patrick El-Hage",
//- athlete_id: 4648488,
//- athlete_gender: "M",
//- average_hr: null,
//- average_watts: 121.2,
//- distance: 1540.8,
//- elapsed_time: 239,
//- moving_time: 239,
//- start_date: "2015-07-28T23:26:03Z",
//- start_date_local: "2015-07-28T19:26:03Z",
//- activity_id: 356251974,
//- effort_id: 8482003923,
//- rank: 36,
//- neighborhood_index: 1,
//- athlete_profile: "https://dgalywyr863hv.cloudfront.net/pictures/athletes/4648488/1473290/1/large.jpg"
