html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
 

nav {
	height: 55px;
	border-bottom: 1px solid #e5e5e5;
}

.nav-bar__inner {
	width: 1000px;
	margin: 0 auto;
}
.nav-list {
	float: left;
	list-style: none;
}
.nav-list li {
	float: left;
	display: block;
}
.main-body {
	max-width: 900px;
	margin: 0 auto;
}
.sidebar--right {
	float: right;
	width: 350px;
}
.profile-thumbnail {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.main-body:after,
.nav-bar__inner:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.pull-right  {
	float: right;
}
#map {
	height: 300px;
	width: 300px;
}

body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
